<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pins">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pins_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pins_app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pins.NoActionBar">
        <activity android:name=".ui.chat_room.ChatRoomActivity"></activity>
        <activity android:name=".ui.all_chats.AllChatsActivity" />
        <activity android:name=".ui.message.messageactivity" />
        <activity
            android:name=".ui.logo.LogoActivity"
            android:theme="@style/Theme.Pins.NoActionBar.NoStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.project_search.ProjectSearchActivity" />
        <activity android:name=".ui.onboarding.OnboardingActivity" />
        <activity android:name=".ui.sign_in.SignInActivity" />
        <activity android:name=".ui.sign_up.SignUpActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home" />
    </application>

</manifest>